@import "./base.css";

body {
  width: 100vw;
  height: 100vh;
  /* margin: 0!important;
  display: flex;
  place-items: center; */
}
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


#app {
  width: 100%;
  min-height: 100vh;
  margin: 0!important;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  display: grid; 
  grid-template-columns: 2.6fr 1.4fr 1fr; 
  grid-template-rows: 0.15fr 2.25fr 1.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "navbar navbar navbar"
    "main main main"
    "main main main";
}


nav { grid-area: navbar; 
display: flex;}

.nav-content{
  display: flex;
  width: 90%;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  margin: 0 1rem ;
}

main{
  height: 100%;
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "generator"
    "resultats"; 
  grid-area: main; 
}

.generator { 
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 4fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "names-liste"
    "group-number-box"
    "actions"; 
  grid-area: generator; 
}
.names-liste { grid-area: names-liste; }
.group-number-box { grid-area: group-number-box; }
.actions { grid-area: actions; }

.resultats { grid-area: resultats; }

section{

 height: 100vh;
  margin: 0!important;
  padding: 2rem!important;
}

.liste-groupe{ 
  min-width: 200px;
  max-width: fit-content;
}

.liste-groupe .card{
  width: 100%;
}

@media (hover: hover) {

}

@media (min-width: 1024px) {
#app{
  height: 100vh;
}
section{
  min-height: 100%;
  height: 100%;
  overflow-y: scroll;
}
  main{
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
  "generator resultats"; 
  }


}
