@import "./base.css";

body {
  width: 100vw;
  height: 100vh;
  /* margin: 0!important;
  display: flex;
  place-items: center; */
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


#app {
  width: 100%;
  min-height: 100vh;
  margin: 0!important;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  display: grid; 
  grid-template-columns: 2.6fr 1.4fr 1fr; 
  grid-template-rows: 0.15fr 2.25fr 1.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "navbar navbar navbar"
    "main main main"
    "main main main";
}


nav { grid-area: navbar; 
display: flex;}

.nav-content{
  display: flex;
  width: 90%;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  margin: 0 1rem ;
}

main{
  height: 100%;
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "generator"
    "resultats"; 
  grid-area: main; 
}

.generator { grid-area: generator; }
.resultats { grid-area: resultats; }

section{
 height: 100vh;
  margin: 0!important;
  padding: 2rem!important;
}



@media (hover: hover) {

}

@media (min-width: 1024px) {
#app{
  height: 100vh;
}
section{
  height: 100%;
}
  main{
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
  "generator resultats"; 
  }


}
